<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app version="3.0"
        metadata-complete="true"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
		<display-name>marketplace-extension-webapp</display-name>

    <!-- Run mode: prod, dev or live -->
    <context-param>
        <param-name>juzu.run_mode</param-name>
        <param-value>${juzu.run_mode:prod}</param-value>
    </context-param>

    <!-- Injection container to use: guice, spring, cdi or weld -->
    <context-param>
        <param-name>juzu.inject</param-name>
        <param-value>guice</param-value>
    </context-param>

    <context-param>
      <param-name>org.exoplatform.frameworks.jcr.command.web.fckeditor.digitalAssetsWorkspace</param-name>
      <param-value>collaboration</param-value>
      <description>Binary assets workspace name</description>
    </context-param>

    <context-param>
      <param-name>org.exoplatform.frameworks.jcr.command.web.fckeditor.digitalAssetsPath</param-name>
      <param-value>/Digital Assets/</param-value>
      <description>Binary assets path</description>
    </context-param>


		<!-- ================================================================== -->
		<!--   RESOURCE FILTER TO CACHE MERGED JAVASCRIPT AND CSS               -->
		<!-- ================================================================== -->
		<filter>
		  <filter-name>ResourceRequestFilter</filter-name>
		  <filter-class>org.exoplatform.portal.application.ResourceRequestFilter</filter-class>
		</filter>
		
		<filter-mapping>
		  <filter-name>ResourceRequestFilter</filter-name>
		  <url-pattern>/*</url-pattern>
		</filter-mapping>

    <!-- ================================================================== -->
    <!--           LISTENER                                                 -->
    <!-- ================================================================== -->
    <listener>
      <listener-class>org.exoplatform.container.web.PortalContainerConfigOwner</listener-class>
    </listener>

    <servlet>
        <servlet-name>AssetServlet</servlet-name>
        <servlet-class>juzu.impl.asset.AssetServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AssetServlet</servlet-name>
        <url-pattern>/assets/*</url-pattern>
    </servlet-mapping>

</web-app>
